<head>
    <meta charset="UTF-8">
    <title>Test for {{ candidate.name }}</title>
</head>

    <form action="{% url 'academy:results' cand_id=candidate.id %}" method="post">
                <ul>
                {% if questions %}
                    {% for q in questions %}
                        <li>{{ q.text }}
                            <select name={{ q.text }} required>
                                <option value="Choose" selected disabled>Choose your answer</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </li>
                    {% endfor %}
                    <input type="submit" value="Send">
                {% else %}
                   <p>Ohh! We have no questions here.</p>
                {% endif %}
                </ul>
    </form>
