<head>
    <meta charset="UTF-8">
    <title>Test for {{ candidate.name }}</title>
</head>

    <form action="{{ candidate.get_absolute_url }}/results/" method="post">
{#    {% csrf_token %}#}
        <ul class="Question">
            {% for q in questions %}
                <li>{{ q.text }}
                    <select name="answer" required>
                        <option selected="selected" disabled>Choose your answer</option>
                        <option>True</option>
                        <option>False</option>
                    </select>
                </li>
            {% endfor %}
        <input type="submit" value="Отправить">
{#        <script>#}
{#             function Post() {#}
{#                        var message_value = document.getElementById('message_izm').value;#}
{#                        var http = new XMLHttpRequest();#}
{#                        http.open('POST', '{{ post.get_absolute_url }}/', true);#}
{#                        http.send(JSON.stringify({message_izm: message_value}));#}
{#                        location.href = "{{ post.get_absolute_url }}/"#}
{#                    }#}
{#        </script>#}
        </ul>
    </form>
